@tailwind base;
@tailwind components;
@tailwind utilities;

.background {
  background-image: url("../src/assets/images/auth-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.custom-table .ant-table {
  @apply bg-gray-100 border border-gray-300 h-2/4;
}

.custom-table .ant-table-thead > tr > th {
  @apply bg-gray-200 text-gray-700 font-bold;
}

.custom-table .ant-table-tbody > tr > td {
  @apply border-t border-gray-300 h-2/4;
}

